.product_div {
  width: 200px;
  height: 190px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  text-align: left;
  background-color: deepskyblue;
  color: cornsilk;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-style: italic;
}
